ctrl + shift + j
    if [ `xdotool getwindowfocus getwindowname` = 'Guake!' ]; then xdotool mousemove 1000 50 click 4; fi;
ctrl + shift + k
    if [ `xdotool getwindowfocus getwindowname` = 'Guake!' ]; then xdotool mousemove 1000 50 click 5; fi;
ctrl + alt + i
    code /home/luks/bindelucas/install_all/install_all.sh
ctrl + alt + m
     if [ `gsettings get org.gnome.settings-daemon.plugins.color night-light-enabled` = 'true' ]; then gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled false; else gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true; fi;
ctrl + alt + c
     /usr/bin/google-chrome
ctrl + alt + k
    sleep 0.5 && xset -display :0.0 dpms force off 
ctrl + alt + l
    gsettings set org.gnome.desktop.lockdown disable-lock-screen 'false' && xdotool keydown Super_L key l keyup Super_L
ctrl + alt + z
    wmctrl -r :ACTIVE: -b toggle,above && notify-send 'ontoped' # https://unix.stackexchange.com/questions/406957/gnome-3-always-on-top-keyboard-shortcut-not-toggling-off
ctrl + alt + semicolon
    sleep 0.3 && xdotool key --delay 0 Multi_key+asciitilde+n && notify-send 'hi motherfucker'
Pause
    xdotool key Caps_Lock
Control_R
    #sleep 0.3 && xdotool key --delay 0 Multi_key+asciitilde+n && notify-send 'hi motherfucker'
