ctrl + alt + equal
    /home/luks/bindelucas/sct1 +300
ctrl + alt + minus
    /home/luks/bindelucas/sct1 -300
ctrl + shift + j
    if [ "`xdotool getwindowfocus getwindowname`" = 'Guake!' ]; then xdotool mousemove 1000 50 click 4; fi;# else  xdotool key ctrl+shift+j ; fi;
ctrl + shift + k
    if [ "`xdotool getwindowfocus getwindowname`" = 'Guake!' ]; then xdotool mousemove 1000 50 click 5; fi;#else  xdotool key ctrl+shift+k ; fi;
ctrl + alt + i
    code /home/luks/bindelucas/install_all/install_all.sh
ctrl + alt + o
    code /home/luks/bindelucas/install_all/config/sxhkd.config
#F10
#    notify-send "hi"
ctrl + alt + s
    flameshot gui -p /home/luks/Pictures/Screenshots && echo /home/luks/Pictures/Screenshots/`ls -Art /home/luks/Pictures/Screenshots | tail -1` | xclip -sel c  # notify-send 'screenshot!' ; sudo -u luks /usr/bin/gnome-screenshot --display=:0 -a
ctrl+ alt + a
    flameshot gui
ctrl + alt + n
     if [ `gsettings get org.gnome.settings-daemon.plugins.color night-light-enabled` = 'true' ]; then gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled false; else gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true; fi;
ctrl + alt + c
     /usr/bin/google-chrome
ctrl + alt + k
    sleep 0.5 && xset -display :0.0 dpms force off 
ctrl + alt + l
    gsettings set org.gnome.desktop.lockdown disable-lock-screen 'false' && xdotool keydown Super_L key l keyup Super_L
ctrl + alt + z
    wmctrl -r :ACTIVE: -b toggle,above && notify-send 'ontoped' # https://unix.stackexchange.com/questions/406957/gnome-3-always-on-top-keyboard-shortcut-not-toggling-off
ctrl + alt + semicolon
    xmodmap -e "keycode 47 = ntilde Ntilde" ; sleep 1 ; xmodmap -e "keycode 47 = semicolon colon ntilde ntilde ntilde ntilde" ; # sleep 0.3 && xdotool key --delay 0 Multi_key+asciitilde+n && notify-send 'hi motherfucker'
Pause
    xdotool key Caps_Lock
#ISO_Level3_Shift
ctrl + alt + m
    xdotool key Caps_Lock
